:root{
  /* colors */
--background: rgba(249, 240, 220, 0.903);
--area2: rgba(228, 226, 226, 0.527);
--area1: rgb(167, 167, 146);
--highlight: #798478ff;
--text: rgb(43, 35, 30);

/* paddings, margins, gaps, borders,... */
--narowest: 1px;
--narrow: 4px; 
--medium: 8px;
--wide: 16px;

/* typography */
--main-font-family: 'Courier', 'Courier New','Arial';
}

/* default */
* {
  position: relative; 
  font-family: var(--main-font-family);
  margin: var(--narrow);
}

/* containers */
.main-section{
  padding: var(--medium);
  background-color: var(--background);
  color: var(--text);
  height: auto;
  width: auto;
}

.two-columns{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.main-column{
  padding: 10vh 10vw;
}

.grid-3-by-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--narrow);
}

.card{
  border-radius: 10px;
  padding: var(--narrow);
  width: 280px; 
  height: 350px;
  border: var(--narowest) solid var(--text);
  font-size: 14px;
  background-color: var(--background);
  color: var(--text);
}

.card:hover{
  background-color: rgb(228, 255, 253);
}

.centered-content{
  display: grid;
  place-content: center;
}

.top-right{
  position: absolute;
  top: 5px;
  right: 5px;
}

.input-field{
  display: grid;
  background-color: var(--area2);
  width: 1fr;
  border: 1px solid var(--text);
  color: var(--text);
}

.checkbox{
  accent-color: var(--area2);
  height: 20px;
}

.input-container{
  display: grid;
  grid-template-columns: 70px 1fr;
}


h3 {
  display: inline-block;
}

.stacked-content{
  border-radius: 10px;
  padding: 0;
  width: 280px; 
  height: 360px;
}

/* needs a refactor - there's bound to be a neater, quicker way of doing this */
.stacked-item0{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
}

.stacked-item1{
  position: absolute;
  top: 2px;
  left: 2px;
  margin: 0;
}

.stacked-item2{
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
}

.stacked-item3{
  position: absolute;
  top: 6px;
  left: 6px;
  margin: 0;
}

.stacked-item4{
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
}

.stacked-item5{
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}

.stacked-item6{
  position: absolute;
  top: 12px;
  left: 12px;
  margin: 0;
}

.stacked-item7{
  position: absolute;
  top: 14px;
  left: 14px;
  margin: 0;
}
.stacked-item8{
  position: absolute;
  top: 16px;
  left: 16px;
  margin: 0;
}
.stacked-item9{
  position: absolute;
  top: 18px;
  left: 18px;
  margin: 0;
}
.stacked-item10{
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

button{
  margin: 2px 20px;
  background-color: var(--text);
}

button:hover {
 background-color: var(--highlight);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}