:root{
  /* colors */
--background: rgb(249, 240, 220);
--area2: rgb(234, 234, 234);
--area1: rgb(167, 167, 146);
--highlight: #798478ff;
--text: rgb(43, 35, 30);

/* paddings, margins, gaps, borders,... */
--narowest: 1px;
--narrow: 4px; 
--medium: 8px;
--wide: 16px;
}



/* containers */
.main-section{
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  grid-template-rows: auto; */
  padding: var(--medium);
  background-color: var(--background);
  color: var(--text);
  height: 100vh;
  width: 100vw;
}

.two-columns{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.card{
  border-radius: 10px;
  padding: var(--narrow);
  width: 180px; 
  height: 250px;
  border: var(--narowest) solid var(--text)
}

.centered-content{
  display: grid;
  place-content: center;

}

